<p>vista-principal works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Solicitudes Masivas </title>
</head>
<body>
    <div id="parametros">
        <div>Empresa:    <input  type="text" id="Empresa" spellcheck:true required> </div> 
        <div>Region:     <input  type="text" id="Region" spellcheck:true></div>
        <div>Cliente:    <input  type="text" id="Cliente" spellcheck:true></div>
        <div>OP Servicio:<input  type="text" id="OP-Servicio" spellcheck:true></div>
        <div>OP Gastos:  <input  type="text" id="OP-Gastos" spellcheck:true></div>
        <div>Cedula:     <input  type="number" id="Cedula" ></div>
        <div>Fecha Pago: <input  type="date" id="Fecha-Pago" ></div><br>

        <button type="button"  type="reset" onclick="Mostrar ()"   >  Mostrar</button>
    </div>
    
</body>
</html>
